/.env
/src/app/.env
/docker/config/nginx/nginx.conf
.idea
/spa/node_modules
/spa/.env.production
spa/package-lock.json
/example/
/spa/build/
/src/app/worker/old_files/
/src/app/worker/.env
/src/app/logs/*.log
/src/app/logs/*.json
/src/app/proxies.txt
/src/app/tests/logs/
/spa/.env
.data
/spa/dist/