services:

  postgres_pr:
    container_name: hackathon_mes_postgres
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      TZ: "Europe/Moscow"
    volumes:
      - hackathon_MES_vol:/var/lib/postgresql/data
    ports:
      - "5446:5432"
    networks:
      - hackathon_MES_net

  backend:
    container_name: hackathon_mes_backend
    build:
      context: src
    environment:
      PYTHONUNBUFFERED: 1
      PYTHONDONTWRITEBYTECODE: 1
    volumes:
      - ${PROJECT_VOLUME_SRC}:/app:cached
    command: python3 main.py
    depends_on:
      - postgres_pr
    expose:
      - 8000
    networks:
      - hackathon_MES_net

#  worker:
#    container_name: statistics_worker
#    build:
#      context: src
#    environment:
#      PYTHONUNBUFFERED: 1
#      PYTHONDONTWRITEBYTECODE: 1
#    volumes:
#      - ${PROJECT_VOLUME_SRC}:/app:cached
#    command: python3 startup_worker.py
#    depends_on:
#      - postgres_pr
#      - backend
#    networks:
#      - statistics_network

  frontend:
    build:
      context: spa
    container_name: frontend_app
#    volumes:
#      - ./docker/config/nginx/${NGINX_FILE}:/etc/nginx/conf.d/default.conf
#      - /home/deploy/.ssl/:/home/deploy/.ssl/
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - backend
    networks:
      - hackathon_MES_net

volumes:
  hackathon_MES_vol:
    driver: local
networks:
  hackathon_MES_net:
    driver: bridge
